<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<!-- plugin.xml file written by dynaTrace Client 5.6.0 -->
<plugin>
  <extension point="com.dynatrace.diagnostics.pdk.pluginconfig" id="com.dynaTrace.diagnostics.ServiceNow" name="Run Task Plugin">
    <information>
      <category value="" />
      <displayname value="Run Task Plugin" />
      <description value="RunTask to run a task as an action" />
      <supportlevel value="unsupported" />
    </information>
    <configuration>
      <property key="domain" label="Domain" type="url" description="domain name within servicenow" default="https://bedemochannel.service-now.com" />
      <property key="user" label="User" type="string" description="User name to use to connect with servicenow" default="" multiline="false" />
      <property key="password" label="Password" type="password" description="Password for the user" default="" />
      <property key="useProxy" label="Use Proxy?" type="boolean" description="My property description ..." default="false" />
      <property key="proxyHost" label="Proxy Host" type="string" description="Proxy host name" default="" multiline="false">
        <visibility>
          <rule key="useProxy" value="true" />
        </visibility>
      </property>
      <property key="proxyPort" label="Proxy Port" type="string" description="Port for the proxy&#x9;" default="" multiline="false">
        <visibility>
          <rule key="useProxy" value="true" />
        </visibility>
      </property>
      <property key="proxyAuthenticationRequired" label="Proxy Authentication Required?" type="boolean" description="My property description ..." default="false">
        <visibility>
          <rule key="useProxy" value="true" />
        </visibility>
      </property>
      <property key="proxyUserName" label="Proxy User Name" type="string" description="My property description ..." default="" multiline="false">
        <visibility>
          <rule key="proxyAuthenticationRequired" value="true" />
        </visibility>
      </property>
      <property key="proxyPassword" label="Proxy Password" type="password" description="My property description ..." default="">
        <visibility>
          <rule key="proxyAuthenticationRequired" value="true" />
        </visibility>
      </property>
      <property key="system_profile" label="System Profile" type="string" description="System Profile in which the Task you want to execute exists" default="default" multiline="false" />
      <property key="task" label="Task" type="string" description="Name of the task you want to execute" default="default" multiline="false" />
      <property key="ignore_certificate" label="Ignore Certificate validation" type="boolean" description="Ignores validity of certificate" default="false" />
    </configuration>
  </extension>
  <extension point="com.dynatrace.diagnostics.pdk.action" id="com.dynaTrace.diagnostics.ServiceNow.action" name="Run Task Plugin">
    <plugin configid="com.dynaTrace.diagnostics.ServiceNow" class="com.dynatrace.plugin.ServiceNowAction" />
  </extension>
</plugin>
