<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<!-- plugin.xml file written by Dynatrace Client 7.0.14 -->
<plugin>
  <extension point="com.dynatrace.diagnostics.pdk.pluginconfig" id="com.mycompany.runtask" name="Run Task">
    <information>
      <category value="" />
      <displayname value="Run Task" />
      <description value="This plugin runs a task" />
      <supportlevel value="unsupported" />
    </information>
    <configuration>
      <property key="system_profile" label="System Profile" type="string" description="System Profile where the task is" default="Monitoring" multiline="false" />
      <property key="task" label="Task" type="string" description="The task that is going to be executed" default="default" multiline="false" />
    </configuration>
  </extension>
  <extension point="com.dynatrace.diagnostics.pdk.task" id="com.mycompany.runtask.task" name="My Plugin Task">
    <plugin configid="com.mycompany.runtask" class="com.mycompany.myplugin.MyPlugin" />
  </extension>
</plugin>
